body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}
h1{
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 140%;
  letter-spacing: -0.01em;
}
h2{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 140%;
  letter-spacing: -0.02em;
}
h3{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: -0.02em;
}
h4{
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 140%;
}
strong{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
}
p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
}
button{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

