@import '../../../styles/variable';

.quickbutton{
  position: fixed;
  bottom: 2.5em;
  right: 0.5em;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  i{
    color: $primary-color1;
  }
  button{
    border-radius: 50%;
    border: 0;
    padding: 0.5em;
    margin: 0.2em;
  }
  &__up{
    background-color: $secondary-color1;
    &:hover{
      background-color: lighten($secondary-color1, 10%);

    }
  }
  &__add{
    background-color: $accent1;
    &:hover{
      background-color: lighten($accent1, 10%);

    }
  }
}