@import '../../../styles/variable';

.blogpost{
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h3{
    align-self: center;

  }
  &__photo{
    align-self: center;
    margin: 1em 0;
  }
  &__author{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img{
      padding-right: 10px;
      margin-bottom: 1em;
    }
  }
}

@media only screen and (min-width: 768px) {
  .blogpost{
   padding: 2em;
  }
}